.tt-inner{
    display:inline-block;
    line-height:12px;
    padding-top:6px;
    position: relative;
}
body{
    font-family: sans-serif;
}
p{
    line-height:150%;
}

header {
    -webkit-app-region: drag;
}
.easyui-linkbutton {
    -webkit-app-region: no-drag;
}
.easyui-menubutton {
    -webkit-app-region: no-drag;
}

.title {
    margin:5px 0 0 5px;
    color:#1AB394;
    font-weight: normal;
    font-size: 9pt;
}

.list-image{
    border-radius: 50%;
    width: 32px;
    height: 32px;
    border: 0;
    margin-right: 10px;
    float: left;
}
.list-status{
    display: block;
    text-overflow: ellipsis;
    white-space: pre-wrap;
    max-width: 50%;
    max-height: 35px;
    float: right;
    background-color: #f0f0f0;
    color: gray;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
}
.list-name{
    font-size: 14px;
    font-weight: bold;
}
.list-email{
    color: gray;
    font-size: 12px;
    text-overflow: ellipsis;
    overflow: hidden;
}

#chatList .list-image{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: 0;
    margin-right: 10px;
    float: left;
}
#chatList .list-date{
    margin-left: 10px;
    width: 80px;
    display: block;
    float: right;
    color: gray;
    font-size: 12px;
}
#chatList .list-name{
    font-size: 14px;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
}
#chatList .list-text{
    color: gray;
    font-size: 12px;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 70%;
    max-height: 30px;
}

#noticeList .list-date{
    margin-left: 10px;
    width: 80px;
    display: block;
    float: right;
    color: gray;
    margin-right: 15px;
    font-size: 12px;
}
#noticeList .list-type{
    font-size: 14px;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 70%;
}
#noticeList .list-text{
    margin-top: 5px;
    color: gray;
    font-size: 12px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.member.list-image{
    border-radius: 50%;
    width: 32px;
    height: 32px;
    border: 0;
    margin-right: 10px;
    float: left;
}
.member.list-button{
    border: 1px solid lightgray;
    border-radius: 5px;
    height: 32px;
    background: white;
    color: gray;
    font-size: 12px;
    float: right;
}
.member.list-name{
    font-size: 14px;
    font-weight: bold;
}
.member.list-email{
    color: gray;
    font-size: 12px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.select.list-image{
    border-radius: 50%;
    width: 32px;
    height: 32px;
    border: 0;
    margin-right: 10px;
    float: left;
}
.select.list-button{
    height: 32px;
    float: right;
}
.select.list-name{
    font-size: 14px;
    font-weight: bold;
}
.select.list-email{
    color: gray;
    font-size: 12px;
    text-overflow: ellipsis;
    overflow: hidden;
}

#settings i{
    display: block;
    float: left;
    color:gray;
    margin-right: 20px;
}
#settings span{
    line-height: 30px;
    height: 30px;
}

.status-arrow {
	position: relative;
	background: #f0f0f0;
	border-radius: .5em;
}

.status-arrow:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 7px solid transparent;
	border-right-color: #f0f0f0;
	border-left: 0;
	margin-top: -7px;
	margin-left: -7px;
}

.user-photo {
    width: 120px;
    height: 120px;
    overflow: hidden;
    border-radius: 50%;
    border: 5px solid #E2E2E2;
    float: left;
}

.user-clear {
    width: 80px;
    height: 20px;
    background-color: #1AB394;
    color:white;
    margin-top: 5px;
    margin-left: 27px;
    text-align: center;
    cursor: pointer;
}

.text-box {
    height: 22px;
    vertical-align: center;
}

.plane-text {
    margin-left: 20px;
    color: #B0B0B0;
}

#user_chat {
    width: 120px;
    height: 25px;
    background-color: #1AB394;
    color:white;
}

.float{
	position:fixed;
	width:50px;
	height:50px;
	bottom:77px;
	right:20px;
	background-color:#0C9;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}
